<div class="t_header">
	<div class="col-sm-12 col-md-4">
		<div class="t_title">
		 <p class="h3"> SUHAS KUMAR </p>
		</div>
	</div>
	<div class="col-sm-12 col-md-4">
		<div class="t_call">
		 <p class="h3"> 510-XXX-XXXX </p>
		</div>
	</div>
		<div class="col-sm-12 col-md-4">
		<div class="t_mail">
			<div class="t_social">
				<a href="#" class="btn btn-danger pull-right">Exit </a>
				<a href="#" class="btn btn-primary pull-right">Add </a>
				<a href="#" class="btn btn-success pull-right">Copy </a>
			</div>
			<p class="h4"> suhas@gmail.com <i class="fa fa-twitter-square" aria-hidden="true"></i><i class="fa fa-facebook-official" aria-hidden="true"></i>
</p>
		 
		</div>
	</div>


</div>	
<div class="row grid_row">
	<div class="col-lg-2 col-md-6 col-xs-12">
		<div class="green">
			<rd-widget>
				<rd-widget-body>
					<div class="comment">Details </div>
				</rd-widget-body>
			</rd-widget>
		</div>
	</div>
	<div class="col-lg-2 col-md-6 col-xs-12">
		<div class="green">
			<rd-widget>
				<rd-widget-body>
					<div class="comment">Pricing <span class="count bg-success">5 </span> </div>
				</rd-widget-body>
			</rd-widget>
		</div>
	</div>
	<div class="col-lg-2 col-md-6 col-xs-12">
		<div class="green">
			<rd-widget>
				<rd-widget-body>
					<div class="comment">Orders <span class="count  bg-warning">5 </span></div>
				</rd-widget-body>
			</rd-widget>
		</div>
	</div>
	<div class="col-lg-2 col-md-6 col-xs-12">
		<div class="green">
			<rd-widget>
				<rd-widget-body>
					<div class="comment">Relationship <span class="count  bg-primary">5 </span> </div>
				</rd-widget-body>
			</rd-widget>
		</div>
	</div>
	<div class="col-lg-2 col-md-6 col-xs-12">
		<div class="green">
			<rd-widget>
				<rd-widget-body>
					<div class="comment">Commments <span class="count  bg-danger">15 </span> </div>
				</rd-widget-body>
			</rd-widget>
		</div>
	</div>
	
</div>
<div class="col-sm-12">
<div class="row grid_data">
	<div class="col-sm-12 col-lg-4">
		<p> Industry IT </p>
	</div>
	<div class="col-sm-12 col-lg-4">
		<p> Customer - Retail</p>
	</div>
	<div class="col-sm-12 col-lg-4">
		<p> QP Unit - North America</p>
	</div>

</div>
</div>

<div class="row grid_table">
	<div class="col-lg-4 col-sm-12">
		<rd-widget>
      		<rd-widget-header icon="fa-tasks" title="URL Details">
      		</rd-widget-header>
      		<rd-widget-body classes="medium no-padding">
				<div class="table-responsive">
					<table class="table bordered">
						<tbody>
							<tr><td>Address</td><td>Email</td><td>Web Page</td></tr>
							<tr><td>Chicago,IL,America</td><td>cia@gmail.com</td><td>www.cia.com</td></tr>
							<tr><td>Dallas,Tx,America</td><td>dta@gmail.com</td><td>www.dta.com</td></tr>

						</tbody>
					</table>
				</div>
			</rd-widget-body>
		</rd-widget>
	</div>
	<div class="col-lg-4 col-sm-12">
		<rd-widget>
			<rd-widget-header icon="fa-users" title="Identifiers">
				<a href="#" class="btn btn-success btn-sm"> Add </a>
				<a href="#" class="btn btn-danger btn-sm"> Edit </a>
			</rd-widget-header>
			<rd-widget-body classes="medium no-padding">
				<div class="table-responsive">
					<table class="table bordered">
						<tbody>
							<tr><td>S.S.N</td><td>xxx-xx-1234</td></tr>
						</tbody>
					</table>
				</div>
			</rd-widget-body>
		<rd-widget>
	</rd-widget></rd-widget>
	</div>
	<div class="col-lg-4 col-sm-12">
		<rd-widget>
			<rd-widget-header icon="fa-users" title="Attributes">
				<a href="#" class="btn btn-success btn-sm"> Add </a>
				<a href="#" class="btn btn-danger btn-sm"> Edit </a>
			</rd-widget-header>
			<rd-widget-body classes="medium no-padding">
				<div class="table-responsive">
					<table class="table bordered">
						<tbody>
							<tr><td>Height</td><td>5.5 Inches</td></tr>
							<tr><td>Weight</td><td>65 Kgs</td></tr>
						</tbody>
					</table>
				</div>
			</rd-widget-body>
		<rd-widget>
	</rd-widget></rd-widget>
	</div>
	<div class="col-lg-4 col-sm-12">
		<rd-widget>
			<rd-widget-header icon="fa-users" title="Relationship">
				<a href="#" class="btn btn-success btn-sm"> Add </a>
				<a href="#" class="btn btn-danger btn-sm"> Edit </a>
			</rd-widget-header>
			<rd-widget-body classes="medium no-padding">
				<div class="table-responsive">
					<table class="table bordered">
						<tbody>
							<tr><td>Spouse</td><td>N.Pabby</td></tr>
							<tr><td>Son</td><td>M.Pabby</td></tr>
							<tr><td>Employer</td><td>Self Employed</td></tr>
						</tbody>
					</table>
				</div>
			</rd-widget-body>
		<rd-widget>
	</rd-widget></rd-widget>
	</div>
</div>
